Repository tangsangsimida/EasyKiConverter_QT, pull requests merged in 2025-10, with the labels that each got.

#24 docs(readme): 精简 README 文档内容
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  README.md
Labels: documentation

#28 feat(build): 更新应用图标资源并优化构建配置
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  build_conf/build.spec
  docs/development_guide.md
  docs/pyqt6_refactor_summary.md
  src/ui/pyqt6/resources/app_icon.icns
  src/ui/pyqt6/resources/app_icon.ico
  src/ui/pyqt6/resources/app_icon.png
  src/ui/pyqt6/resources/app_icon.svg
Labels: enhancement

#30 docs(.github): 更新 labeler.yml 配置文件
  .github/labeler.yml
  .github/workflows/label.yml
Labels: github-actions
